---
layout: default
---

<div class="home">

  <h1>Testing, testing... one, two, three!</h1>

  {% if site.internal %}
  <p>Note: this is the internal version of the site!</p>
  {% endif %}

  <p>Please ignore this proof-of-concept site
     and read some of our good stuff at 
     <a href="{{ site.baseurl }}">18F Pages</a>
     instead.</p>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
